.header {
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.list {
    &__item {
        cursor: move;
    }

    &__actions {
        display: flex;

        &-item {
            margin: 0 0.1rem;
        }
    }
}
