.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list__item {
  cursor: move;
}

.list__actions {
  display: flex;
}

.list__actions-item {
  margin: 0 0.1rem;
}

